Source: kaltura-alertmanager
Section: net
Priority: extra
Maintainer: Jess Portnoy <jess.portnoy@kaltura.com>
Build-Depends: wget, dh-systemd (>= 1.5)

Package: kaltura-alertmanager
Architecture: any
Depends: ${shlibs:Depends}, init-system-helpers, daemon
Description: Alertmanager handles alerts sent by client applications such as the 
 Prometheus server. It takes care of deduplicating, grouping, and routing them to 
 the correct receiver integrations such as email, PagerDuty, or OpsGenie. 
 It also takes care of silencing and inhibition of alerts.

