#!/usr/bin/make -f
DEB_VERSION := $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
include ../includes/build-revision.mk

clean:
	dh_clean

build:

install:

binary-indep:
	dh_gencontrol -u-v$(DEB_VERSION)
	dh_installdebconf
	dh_installdeb
	dh_builddeb

binary: binary-indep

.PHONY: binary-indep binary
