#!/usr/bin/make -f

DEB_VERSION := $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
RC_FILE :=../../build/sources.rc
HTML5LIB_LATEST_VERSION ?= $(shell egrep '^HTML5LIB_LATEST_VERSION=' $(RC_FILE) | cut -d = -f 2| sed 's@"@@g')
HTML5LIB_VERSIONS ?= $(shell egrep '^HTML5LIB_PREV_VERSIONS=' $(RC_FILE) | cut -d = -f 2| sed 's@"@@g')
RPM_SOURCES_DIR ?= $(shell egrep '^RPM_SOURCES_DIR=' $(RC_FILE) | cut -d = -f 2| sed 's@"@@g')
KALTURA_PREFIX ?= $(shell egrep '^KALTURA_PREFIX=' $(RC_FILE) | cut -d = -f 2| sed 's@"@@g')
HTML5LIB_PREFIX=$(KALTURA_PREFIX)/web/html5/html5lib
include ../includes/build-revision.mk
archive := $(RPM_SOURCES_DIR)/kaltura-html5-$(HTML5LIB_LATEST_VERSION).tar.gz
tree := kaltura-html5lib-$(HTML5LIB_LATEST_VERSION)

clean:
	dh_clean
	rm -rf kaltura-html5lib-*
	rm -rf debian/tmp

$(archive):
	$(RPM_SOURCES_DIR)/platform-install-packages/build/package_kaltura_html5lib.sh	

$(tree): $(archive)
	tar zxf $(RPM_SOURCES_DIR)/kaltura-html5lib-$(HTML5LIB_LATEST_VERSION).tar.gz
	tar zxf $(RPM_SOURCES_DIR)/kaltura-html5lib-v2.34.tar.gz
	tar zxf $(RPM_SOURCES_DIR)/kaltura-html5lib-v2.33.tar.gz
	tar zxf $(RPM_SOURCES_DIR)/kaltura-html5lib-v2.32.1.tar.gz
	tar zxf $(RPM_SOURCES_DIR)/kaltura-html5lib-v2.31.tar.gz
	tar zxf $(RPM_SOURCES_DIR)/kaltura-html5lib-v2.30.tar.gz
	tar zxf $(RPM_SOURCES_DIR)/kaltura-html5lib-v2.29.tar.gz

build: $(tree)

install: build

binary-indep: install
	dh_installdirs
	rm -rf $(HTML5LIB_PREFIX)
	mkdir -p $(HTML5LIB_PREFIX)
	mv kaltura-html5lib-$(HTML5LIB_LATEST_VERSION) $(HTML5LIB_PREFIX)/$(HTML5LIB_LATEST_VERSION)
	mv kaltura-html5lib-v2.29 $(HTML5LIB_PREFIX)/v2.29
	mv kaltura-html5lib-v2.30 $(HTML5LIB_PREFIX)/v2.30
	mv kaltura-html5lib-v2.31 $(HTML5LIB_PREFIX)/v2.31
	mv kaltura-html5lib-v2.32.1 $(HTML5LIB_PREFIX)/v2.32.1
	mv kaltura-html5lib-v2.33 $(HTML5LIB_PREFIX)/v2.33
	mv kaltura-html5lib-v2.34 $(HTML5LIB_PREFIX)/v2.34
	cp debian/LocalSettings.php $(HTML5LIB_PREFIX)/$(HTML5LIB_LATEST_VERSION)/
	cp debian/LocalSettings.php $(HTML5LIB_PREFIX)/v2.29/
	cp debian/LocalSettings.php $(HTML5LIB_PREFIX)/v2.30/
	cp debian/LocalSettings.php $(HTML5LIB_PREFIX)/v2.31/
	cp debian/LocalSettings.php $(HTML5LIB_PREFIX)/v2.32.1/
	cp debian/LocalSettings.php $(HTML5LIB_PREFIX)/v2.33/
	cp debian/LocalSettings.php $(HTML5LIB_PREFIX)/v2.34/
	mkdir $(HTML5LIB_PREFIX)/$(HTML5LIB_LATEST_VERSION)/cache  $(HTML5LIB_PREFIX)/v2.34/cache $(HTML5LIB_PREFIX)/v2.33/cache $(HTML5LIB_PREFIX)/v2.32.1/cache $(HTML5LIB_PREFIX)/v2.31/cache $(HTML5LIB_PREFIX)/v2.30/cache $(HTML5LIB_PREFIX)/v2.29/cache
	dh_install $(KALTURA_PREFIX)
	dh_gencontrol -u-v$(DEB_VERSION) 
	dh_installdebconf
	dh_installdeb
	dh_builddeb 

binary: binary-indep
.PHONY: clean build binary-indep binary-arch binary
