default[:load_balancer][:port] = "@PORT@" 
default[:load_balancer][:node0] = "@NODE0@"
default[:load_balancer][:node1] = "@NODE1@"
default[:load_balancer][:retries] = 1
default[:load_balancer][:max] = 25
default[:load_balancer][:timeout] = 600
default[:load_balancer][:proxy_timeout] = 400
