#!/usr/bin/make -f

PECL_PKG_NAME = memcache
PECL_PKG_VER  = 2.2.7

PKGDIR = ${PECL_PKG_NAME}-${PECL_PKG_VER}
EXTDIR = $(shell /usr/bin/php-config5 --extension-dir)

%:
	dh $@

override_dh_auto_configure:
	cd ${PKGDIR} && phpize
	dh_auto_configure --sourcedirectory=${PKGDIR} -- \
		--prefix=/usr \
		--with-${PECL_PKG_NAME} \
		--with-php-config=/usr/bin/php-config

override_dh_auto_build:
	dh_auto_build --sourcedirectory=${PKGDIR}

override_dh_auto_install:
	echo "php:Depends=phpapi-`php-config --phpapi`" >> \
		debian/php7-${PECL_PKG_NAME}.substvars
	mkdir -p debian/php7-${PECL_PKG_NAME}/$(EXTDIR)
	install -m 644 -o root -g root $(PKGDIR)/modules/$(PECL_PKG_NAME).so \
		debian/php7-${PECL_PKG_NAME}$(EXTDIR)/$(PECL_PKG_NAME).so

override_dh_auto_clean:
	dh_auto_clean --sourcedirectory=${PKGDIR}

