Source: kaltura-prometheus
Section: net
Priority: extra
Maintainer: Jess Portnoy <jess.portnoy@kaltura.com>
Build-Depends: wget, dh-systemd (>= 1.5)

Package: kaltura-prometheus
Architecture: any
Depends: ${shlibs:Depends}, init-system-helpers, daemon
Description: Prometheus is a monitoring system and time series database.
 It collects metrics from configured targets at given intervals, evaluates 
 rule expressions, displays the results, and can trigger alerts if some 
 condition is observed to be true.
 .
 This package provides the Prometheus daemon and configuration meant to be 
 used with Kaltura Server.
