Source: kaltura-dwh
Section: net
Priority: extra
Maintainer: Jess Portnoy <jess.portnoy@kaltura.com>

Package: kaltura-dwh
Architecture: amd64
Depends: ${shlibs:Depends}, java7-runtime,kaltura-base,kaltura-pentaho
Description: Kaltura Open Source Video Platform - Analytics
 Kaltura is the world's first Open Source Online Video Platform, transforming the way people work, learn, 
 and entertain using online video. The Kaltura platform empowers media applications with advanced video 
 management, publishing, and monetization tools that increase their reach and monetization and simplify 
 their video operations. Kaltura improves productivity and interaction among millions of employees by providing 
 enterprises powerful online video tools for boosting internal knowledge sharing, training, and collaboration, 
 and for more effective marketing. Kaltura offers next generation learning for millions of students and teachers 
 by providing educational institutions disruptive online video solutions for improved teaching, learning, and 
 increased engagement across campuses and beyond. 
 For more information visit: http://corp.kaltura.com, http://www.kaltura.org and http://www.html5video.org.
 .
 This package configures the Data Warehouse [DWH] analytics component. 
 .
