Package: kaltura-php7-curl
Source: kaltura-php7
Version: 7.0.0-6
Architecture: amd64
Maintainer: Jess Portnoy <jess.portnoy@kaltura.com>
Installed-Size: 145
Pre-Depends: dpkg (>= 1.16.1~)
Depends: libc6 (>= 2.14), libcurl3 (>= 7.18.0), phpapi-20151012, kaltura-php7-common (= 7.0.0-6), ucf
Section: php
Priority: optional
Homepage: http://www.php.net/
Description: CURL module for kaltura-php7
 CURL is a library for getting files from  FTP, GOPHER, HTTP server.
 .
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.
