check process apache
   with pidfile "/var/run/httpd/httpd.pid"
   start program = "/sbin/service httpd start" with timeout 60 seconds
   stop program = "/sbin/service httpd stop"
if failed host localhost port @KALTURA_VIRTUAL_HOST_PORT@ protocol @PROTOCOL@ then restart
    group kaltura
    depends on httpd.conf, httpd
   
check file httpd.conf
    with path "@APP_DIR@/configurations/apache/kaltura.conf"
    # Reload apache if the httpd.conf file was changed
    if changed checksum
        then exec "/usr/sbin/apachectl graceful"

check file httpd
    with path "/usr/sbin/httpd"

