[Unit]
Description=Consul Server
Wants=network-online.target
After=network-online.target

[Service]
User=consul
Group=consul
Type=simple
ExecStart=/opt/kaltura/consul/bin/consul agent -data-dir=/opt/kaltura/consul/var/data \
	-enable-script-checks=true -config-file=/opt/kaltura/consul/etc/consul.d/client/config.json \
	-config-dir=/opt/kaltura/consul/etc/consul.d/ -client=0.0.0.0

ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
