<VirtualHost *:@KALTURA_VIRTUAL_HOST_PORT@>
        ErrorLog "@LOG_DIR@/kaltura_apache_errors.log"
        CustomLog @LOG_DIR@/kaltura_apache_access.log vhost_kalt

        Include "@APP_DIR@/configurations/apache/conf.d/enabled.*.conf"
</VirtualHost>
