[Unit]
Description=Prometheus Nginx Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart=/opt/kaltura/prometheus-exporters/prom-nginx-exporter \
 -nginx-stats-urls http://localhost:88/basic_status

ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
