[Unit]
Description=Cassandra
After=network.target

[Service]
Type=forking
PIDFile=/run/cassandra/cassandra.pid
User=cassandra
Group=cassandra
PermissionsStartOnly=true
ExecStartPre=/usr/bin/install -d -o cassandra /run/cassandra
ExecStart=/usr/sbin/cassandra -p /run/cassandra/cassandra.pid
StandardOutput=journal
StandardError=journal
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
