[Unit]
Description=Prometheus Memcached Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart=/opt/kaltura/prometheus-exporters/memcached_exporter

ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
