[Unit]
Description=middle manager
Wants=network-online.target
After=network-online.target

[Service]
User=kaltura
Group=kaltura
WorkingDirectory=/usr/lib/druid
ExecStart=/etc/alternatives/java -server -Xms64m -Xmx64m -Duser.timezone=UTC -Dfile.encoding=UTF-8 -Dservice=middle_manager -Djava.io.tmpdir=/var/tmp/druid -Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager -cp '/opt/kava/conf/druid/_common:/opt/kava/conf/druid/middleManager:/usr/lib/druid/*' org.apache.druid.cli.Main server middleManager
#ExecStart=/etc/alternatives/java `cat /opt/kava/conf/druid/middleManager/jvm.config | xargs` -cp '/opt/kava/conf/druid/_common:/opt/kava/conf/druid/middleManager:/usr/lib/druid/*' org.apache.druid.cli.Main server middleManager
KillMode=control-group
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target

