        check process memcache
           with pidfile "/var/run/memcached/memcached.pid"
           start program = "/etc/init.d/memcached start" with timeout 60 seconds
           stop program = "/etc/init.d/memcached stop"
           #if 10 restarts within 10 cycles then timeout
           group kaltura
           depends on memcached
        check file memcached
            with path "/usr/bin/memcached"

