check process memcache
    with match "memcached"
    start program = "/sbin/service memcached start" with timeout 60 seconds
    stop program = "/sbin/service memcached stop"


    depends on memcachedbin, memcachedconf

check file memcachedconf
    with path "/etc/sysconfig/memcached"
    # Reload memcached if the configuration file was changed
    if changed checksum
        then exec "/sbin/service memcached restart"
    
check file memcachedbin
    with path "/usr/bin/memcached"
