check process mysql
    with pidfile "/var/run/mysqld/mysqld.pid"
    start program = "/sbin/service mysqld start" with timeout 60 seconds
    stop program = "/sbin/service mysqld stop"

    if failed host localhost port 3306 protocol mysql then restart
    
    depends on mysqldbin, my.cnf

check file my.cnf
    with path "/etc/my.cnf"
    # Reload mysql if the my.cnf file was changed
    if changed checksum
       then exec "/sbin/service mysqld restart"

check file mysqldbin
    with path "/usr/bin/mysqld_safe"
