check process sphinx-populate 
    with pidfile "@LOG_DIR@/populate.pid"
    start program = "/etc/init.d/kaltura-populate start" with timeout 60 seconds
    stop program = "/etc/init.d/kaltura-populate stop"
    

    group kaltura
    depends on populate.conf, populate_script

check file populate.conf
    with path "@APP_DIR@/configurations/sphinx/populate/@INSTALLED_HOSTNAME@.ini"
    # Reload populate if the server-sphinx.php file was changed
    if changed checksum
       then exec "/etc/init.d/kaltura-populate restart"

check file populate_script
    with path "@APP_DIR@/plugins/search/providers/sphinx_search/scripts/populateFromLog.php"
    
