        check process sphinx_populate 
           with pidfile "@LOG_DIR@/populate.pid"
           start program = "/etc/init.d/kaltura-populate start" with timeout 60 seconds
           stop program = "/etc/init.d/kaltura-populate stop"
           #if 10 restarts within 10 cycles then timeout
           group kaltura
           depends on sphinx_populate.conf, sphinx_populate_script

        check file sphinx_populate.conf
            with path "@APP_DIR@/configurations/sphinx/populate/@INSTALLED_HOSTNAME@.ini"
            # Reload populate if the server-sphinx.php file was changed
            if changed checksum
               then exec "/etc/init.d/kaltura-populate restart"

        check file sphinx_populate_script
            with path "@APP_DIR@/plugins/sphinx_search/scripts/populateFromLog.php"
            
