check process wowza 
    with pidfile "/var/run/WowzaStreamingEngine.pid"
    start program = "/sbin/service WowzaStreamingEngine start" with timeout 60 seconds
    stop program = "/sbin/service WowzaStreamingEngine stop" 

    if failed port 1935 protocol http then restart
    
    depends on wowza.conf, wowzabin

check file wowza.conf
    with path "/usr/local/WowzaStreamingEngine/conf/Server.xml"

check file wowzabin
with path "/usr/bin/WowzaStreamingEngined"
