#!/usr/bin/make -f

DEB_VERSION := $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
RC_FILE :=../../build/sources.rc
KMC_VERSION ?= v$(shell egrep '^KMC_MINUS_V_VERSION=' $(RC_FILE) | cut -d = -f 2| sed 's@"@@g')
SOURCE_PACKAGING_DIR ?= $(shell egrep '^SOURCE_PACKAGING_DIR=' $(RC_FILE) | cut -d = -f 2| sed 's@"@@g')
KALTURA_PREFIX ?= $(shell egrep '^KALTURA_PREFIX=' $(RC_FILE) | cut -d = -f 2| sed 's@"@@g')
KMC_PREFIX=$(KALTURA_PREFIX)/web/flash/kmc
HTML5LIB_VERSION ?= $(shell egrep '^HTML5LIB_LATEST_VERSION=' $(RC_FILE) | cut -d = -f 2| sed 's@"@@g')
KCLIP_VERSION ?= $(shell egrep '^KCLIP_VERSION=' $(RC_FILE) | cut -d = -f 2| sed 's@"@@g')
include ../includes/build-revision.mk
archive := $(SOURCE_PACKAGING_DIR)/kaltura-kmc-$(KMC_VERSION).tar.bz2
tree := kaltura-kmc-$(KMC_VERSION)

clean:
	dh_clean
	rm -rf $(tree) 
	rm -rf debian/tmp

$(archive):
	$(SOURCE_PACKAGING_DIR)/platform-install-packages/build/package_kaltura_kmc.sh	

$(tree): $(archive)
	tar jxf $(archive)

build: $(tree)

install: build

binary-indep: install
	dh_installdirs
	rm -rf $(KMC_PREFIX)
	mkdir -p $(KMC_PREFIX) $(KALTURA_PREFIX)/web/content/docs
	mv $(tree)/* $(KMC_PREFIX)/
	sed -i "s#html5_version =.*#html5_version = $(HTML5LIB_VERSION)#g" $(KMC_PREFIX)/$(KMC_VERSION)/config.ini 
	sed -i "s#\(widgets.kClip.*version\) =.*#\1 = $(KCLIP_VERSION)#g" $(KMC_PREFIX)/$(KMC_VERSION)/config.ini 
	dos2unix $(KMC_PREFIX)/$(KMC_VERSION)/config.ini
	cp -r $(KMC_PREFIX)/doc/* $(KALTURA_PREFIX)/web/content/docs
	dh_install $(KALTURA_PREFIX)
	dh_gencontrol -u-v$(DEB_VERSION) 
	dh_installdebconf
	dh_installdeb
	dh_builddeb 

binary: binary-indep
.PHONY: clean build binary-indep binary-arch binary
