Package: kaltura-php7-cgi
Source: kaltura-php7
Version: 7.0.0-1
Architecture: amd64
Maintainer: Jess Portnoy <jess.portnoy@kaltura.com>
Installed-Size: 90
Depends: mime-support, kaltura-php7-common (= 7.0.0-1), libmagic1, ucf, tzdata
Suggests: php-pear
Section: php
Priority: optional
Homepage: http://www.php.net/
Description: server-side, HTML-embedded scripting language (CGI binary)
 This package provides the /usr/lib/cgi-bin/php7 CGI interpreter built
 for use in Apache 2 with mod_actions, or any other CGI httpd that
 supports a similar mechanism.  Note that MOST Apache users probably
 want the kaltura-libapache2-mod-php7 package.
 .
 .
 .
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.
