#!/usr/bin/make -f
COMP_NAME ?= kaltura-base

DEB_VERSION := $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
RC_FILE :=../../build/sources.rc
KALTURA_SERVER_VERSION ?= $(shell egrep '^KALTURA_SERVER_VERSION=' $(RC_FILE) | cut -d = -f 2| sed 's@"@@g')
SOURCE_PACKAGING_DIR ?= $(shell egrep '^SOURCE_PACKAGING_DIR=' $(RC_FILE) | cut -d = -f 2| sed 's@"@@g')
KALTURA_PREFIX ?= $(shell egrep '^KALTURA_PREFIX=' $(RC_FILE) | cut -d = -f 2| sed 's@"@@g')
HTML5LIB_VERSION ?= $(shell egrep '^HTML5LIB_LATEST_VERSION=' $(RC_FILE) | cut -d = -f 2| sed 's@"@@g')
HTML5_STUDIO_VERSION ?= $(shell egrep '^HTML5_APP_STUDIO_VERSION=' $(RC_FILE) | cut -d = -f 2| sed 's@"@@g')
KMC_VERSION ?= v$(shell egrep '^KMC_MINUS_V_VERSION=' $(RC_FILE) | cut -d = -f 2| sed 's@"@@g')
KMCNG_VERSION ?= v$(shell egrep '^KMCNG_MINUS_V_VERSION=' $(RC_FILE) | cut -d = -f 2| sed 's@"@@g')
KMC_LOGIN_VERSION ?= v$(shell egrep '^KMC_LOGIN_MINUS_V_VERSION=' $(RC_FILE) | cut -d = -f 2| sed 's@"@@g')
KDP3WRAPPER_VERSION ?=$(shell egrep '^KDP3WRAPPER_VERSION=' $(RC_FILE) | cut -d = -f 2| sed 's@"@@g')
include ../includes/build-revision.mk
archive := $(SOURCE_PACKAGING_DIR)/$(KALTURA_SERVER_VERSION).zip 
clientlibs_archive := $(SOURCE_PACKAGING_DIR)/clients-generator-$(KALTURA_SERVER_VERSION).zip 
tree := server-$(KALTURA_SERVER_VERSION)

clean:
	dh_clean
	rm -rf $(tree) 
	rm -rf debian/tmp
	rm -f $(archive)

$(archive):
	~/sources/platform-install-packages/build/package_kaltura_core.sh	
	~/sources/platform-install-packages/build/package_kaltura_clients-generator.sh	

$(tree): $(archive)
	unzip -qq -o $(archive)
	unzip -qq -o $(clientlibs_archive)
	mv clients-generator-$(KALTURA_SERVER_VERSION) $(tree)/clients-generator

build: $(tree)

install: build

binary-indep: install
	rm -rf $(KALTURA_PREFIX)
	mkdir -p $(KALTURA_PREFIX)/log
	mkdir -p $(KALTURA_PREFIX)/var/run
	mkdir -p $(KALTURA_PREFIX)/tmp
	mkdir -p $(KALTURA_PREFIX)/web
	mkdir -p $(KALTURA_PREFIX)/app/cache
	mkdir -p $(KALTURA_PREFIX)/bin
	mkdir -p $(KALTURA_PREFIX)/lib
	mkdir -p $(KALTURA_PREFIX)/include
	mkdir -p $(KALTURA_PREFIX)/share
	mkdir -p $(KALTURA_PREFIX)/tmp/convert
	mkdir -p $(KALTURA_PREFIX)/tmp/thumb/
	mkdir -p $(KALTURA_PREFIX)/web/tmp/imports
	mkdir -p $(KALTURA_PREFIX)/web/tmp/convert
	mkdir -p $(KALTURA_PREFIX)/web/tmp/thumb
	mkdir -p $(KALTURA_PREFIX)/web/tmp/dropFolderFiles
	mkdir -p $(KALTURA_PREFIX)/web/tmp/xml
	mkdir -p $(KALTURA_PREFIX)/web/dropfolders/monitor
	mkdir -p $(KALTURA_PREFIX)/web/content/cacheswf
	mkdir -p $(KALTURA_PREFIX)/web/content/uploads
	mkdir -p $(KALTURA_PREFIX)/web/content/entry
	mkdir -p $(KALTURA_PREFIX)web/content//metadata
	mkdir -p $(KALTURA_PREFIX)/web/content/batchfiles
	mkdir -p $(KALTURA_PREFIX)/web/content/templates
	mkdir -p etc/profile.d
	dh_installdirs
	for i in "*.xml" "*.template" "*.ttf" "*.xsl" "*.xsd" "*.yml" "*.smil" "*.srt" "*.sql" "*.orig" "*.patch" "*.po" "*.pdf" "*.otf" "*.txt" "*.php" "*.phtml" "*.project" "*.png" "*.properties" "*.sample" "*.swf" "*.sf" "*.swz" "*.uad" "*.prefs" "*.psd" "*.rvmrc" "*.sln" "*.ini" "*.log" ;do find . -iname "$i" -exec chmod 644 {} \; ; done
	find  $(tree) -name "*.sh" -type f -exec chmod +x {} \;
	sed -i 's@^IsmIndex@;IsmIndex@g' $(tree)/configurations/plugins.template.ini
	sed -i "s#^;kmc_version = @KMC_VERSION@#kmc_version = $(KMC_VERSION)#g" $(tree)/configurations/local.template.ini
	sed -i "s#@KMCNG_VERSION@#$(KMCNG_VERSION)#g" $(tree)/configurations/local.template.ini
	sed -i 's@^otp_required_partners\[\]@;otp_required_partners\[\]@g' $(tree)/configurations/local.template.ini
	sed -i "s@^partner_otp_internal_ips@;partner_otp_internal_ips@g" $(tree)/configurations/local.template.ini
	sed -i "s#^;html5_version = @HTML5LIB_VERSION@#html5_version = $(HTML5LIB_VERSION)#g" $(tree)/configurations/local.template.ini
	sed -i 's#<html5Url>/html5/html5lib/v.*/mwEmbedLoader.php</html5Url>#<html5Url>/html5/html5lib/$(HTML5LIB_VERSION)/mwEmbedLoader.php</html5Url>#g' $(tree)/deployment/base/scripts/init_content/01.uiConf.99.template.xml
	sed -i "s#^;studio_version = @STUDIO_VERSION@#studio_version = $(HTML5_STUDIO_VERSION)#g" $(tree)/configurations/local.template.ini
	sed -i "s#^;kdp3_wrapper_version = @KDP3_WRAPPER_VERSION@#kdp3_wrapper_version = $(KDP3WRAPPER_VERSION)#g" $(tree)/configurations/local.template.ini
	sed -i "s#^bin_path_mediainfo = .*#bin_path_mediainfo = mediainfo#g" $(tree)/configurations/local.template.ini
	sed -i "s#^;kmc_login_version = @KMC_LOGIN_VERSION@#kmc_login_version = $(KMC_LOGIN_VERSION)#g" $(tree)/configurations/local.template.ini
	sed -i 's@^writers.\(.*\).filters.priority.priority\s*=\s*7@writers.\1.filters.priority.priority=4@g' $(tree)/configurations/logger.template.ini
	sed -i 's@/sbin/service@/usr/sbin/service@g' $(tree)/configurations/monit/monit.d/*
	sed -i 's@/etc/init.d/@/usr/sbin/service @g' $(tree)/configurations/monit/monit.d/*
	sed -i 's@kaltura_sphinx@kaltura-sphinx@g' $(tree)/configurations/monit/monit.d/sphinx.template.rc
	sed -i 's@kaltura_batch@kaltura-batch@g' $(tree)/configurations/monit/monit.d/batch.template.rc
	sed -i 's@kaltura_populate@kaltura-populate@g' $(tree)/configurations/monit/monit.d/sphinx.populate.template.rc
	sed -i 's@httpd@apache2@g' $(tree)/configurations/monit/monit.d/httpd.template.rc
	sed -i 's#@PROTOCOL@#http#g' $(tree)/configurations/monit/monit.d/httpd.template.rc
	sed -i 's@/var/run/memcached/memcached.pid@/var/run/memcached.pid@g' $(tree)/configurations/monit/monit.d/memcached.template.rc
	sed -i 's@/etc/sysconfig/memcached@/etc/memcached.conf@g' $(tree)/configurations/monit/monit.d/memcached.template.rc
	rm $(tree)/deployment/base/scripts/init_content/04.dropFolder.-4.template.xml
	cp debian/batch.ini.template $(tree)/configurations/batch/batch.ini.template
	cp debian/kaltura-base.sh etc/profile.d/
	cp debian/KDLOperatorFfmpeg1_1_1.php $(tree)/infra/cdl/kdl/KDLOperatorFfmpeg1_1_1.php
	cp debian/03.uiConf.ini $(tree)/deployment/base/scripts/init_data/03.uiConf.ini
	cp debian/start_page.php $(tree)/start/index.php
	cp debian/start_page_survey.png $(tree)/start/img/survey.png
	cp debian/start_page_newsletter.png $(tree)/start/img/newsletter.png
	cp debian/start_page-landing-page.css $(tree)/start/css/landing-page.css
	cp debian/kmcngAction.class.php $(tree)/alpha/apps/kaltura/modules/kmcng/actions/kmcngAction.class.php
	# tmp patch until https://github.com/kaltura/server/pull/7487/files is merged
	cp debian/01.kaltura_ce_tables.sql $(tree)/deployment/base/sql/01.kaltura_ce_tables.sql
	sed -i "s@^\(params.ImageMagickCmd\)\s*=.*@\1=convert@" $(tree)/configurations/batch/batch.ini.template
	sed -i "s@^\(params.mediaInfoCmd\)\s*=.*@\1=mediainfo@" $(tree)/configurations/batch/batch.ini.template
	sed -i "s@^\(params.mencderCmd\)\s*=.*@\1=mencoder@" $(tree)/configurations/batch/batch.ini.template
	tar zxf debian/entry_and_uiconf_templates.tar.gz -C $(KALTURA_PREFIX)/web/content 
	mv $(tree)/clients-generator $(KALTURA_PREFIX)/
	mv $(tree)/* $(KALTURA_PREFIX)/app/
	dh_install $(KALTURA_PREFIX)
	dh_install etc/profile.d
	dh_gencontrol -u-v$(DEB_VERSION) 
	dh_installdebconf
	dh_installdeb
	dh_builddeb 

binary: binary-indep
.PHONY: clean build binary-indep binary-arch binary
