# This file basically defines the DBs names, privileges and users entitled to these privileges and SQL scripts to run for each.

DBS="KALTURA KALTURA_SPHINX_LOG KALTURADW KALTURADW_DS KALTURADW_BISOURCES KALTURALOG"
KALTURA_PRIVILEGES="INSERT,UPDATE,DELETE,SELECT"
KALTURA_USER="kaltura"
KALTURA_SPHINX_LOG_PRIVILEGES="SELECT,INSERT,UPDATE"
KALTURA_SPHINX_LOG_USER="kaltura"
KALTURADW_PRIVILEGES="INSERT,UPDATE,DELETE,SELECT,EXECUTE"

KALTURADW_USER="etl"
KALTURADW_DS_PRIVILEGES="INSERT,UPDATE,DELETE,SELECT,EXECUTE"
KALTURADW_DS_USER="etl"
KALTURADW_BISOURCES_PRIVILEGES="INSERT,UPDATE,DELETE,SELECT,EXECUTE"
KALTURADW_BISOURCES_USER="etl"
KALTURALOG_PRIVILEGES="INSERT,UPDATE,DELETE,SELECT,LOCK TABLES"
KALTURALOG_USER="etl"
