# This file basically defines the DBs names, privileges and users entitled to these privileges.

DBS="kaltura kaltura_sphinx_log kalturadw kalturadw_ds kalturadw_bisources kalturalog"
DB_USERS="kaltura etl"
kaltura_PRIVILEGES="INSERT,UPDATE,DELETE,SELECT,ALTER,CREATE,DROP"
kaltura_USER="kaltura"
kaltura_SQL_FILES="/opt/kaltura/app/deployment/base/sql/01.kaltura_ce_tables.sql /opt/kaltura/app/deployment/base/sql/04.stored_procedures.sql"

kaltura_sphinx_log_PRIVILEGES="SELECT,INSERT,UPDATE"
kaltura_sphinx_log_USER="kaltura"
kaltura_sphinx_log_SQL_FILES="/opt/kaltura/app/deployment/base/sql/01.kaltura_sphinx_ce_tables.sql"

kalturadw_PRIVILEGES="INSERT,UPDATE,DELETE,SELECT,EXECUTE"
kalturadw_USER="etl"
kalturadw_ds_PRIVILEGES="INSERT,UPDATE,DELETE,SELECT,EXECUTE"
kalturadw_ds_USER="etl"
kalturadw_bisources_PRIVILEGES="INSERT,UPDATE,DELETE,SELECT,EXECUTE"
kalturadw_bisources_USER="etl"
kalturalog_PRIVILEGES="INSERT,UPDATE,DELETE,SELECT,LOCK TABLES"
kalturalog_USER="etl"
