# if we happen to already have system.ini lets source it
RC_FILE=/etc/kaltura.d/system.ini
if [  -r "$RC_FILE" ];then
	. $RC_FILE
else
	BASE_DIR=/opt/kaltura
fi
if [ -r /etc/sysconfig/clock ];then
        . /etc/sysconfig/clock
fi

if [ -r $BASE_DIR/app/configurations/consent_msgs ];then
	. $BASE_DIR/app/configurations/consent_msgs 
fi
CONSENT_FILE=/opt/kaltura/bin/contact.rc

POST_INST_MAIL_SUBJECT='Your new Kaltura server is up! and 6 Quick Tips For Smooth Kaltura Maintenance'
POST_INST_MAIL_TMPL=$BASE_DIR/app/configurations/post_inst_mail

call_base_config()
{

	if [ -n "$1" -a -r "$1" ];then
		ANSFILE=$1
		. $ANSFILE
	fi
	if [ ! -r $BASE_DIR/app/base-config.lock ];then
		`dirname $0`/kaltura-base-config.sh $ANSFILE
	else
		echo "base-config skipped as /opt/kaltura/app/base-config.lock was found. Remove the lock to reconfigure."
	fi

}

check_mysql_settings()
{
	DB_USER=$1
	DB_PASSWD=$2
	DB_HOST=$3
	DB_PORT=$4
	RC=0
	OPEN_FILES_LIMIT=`echo "select @@open_files_limit;" | mysql -u$DB_USER -p$DB_PASSWD -h$DB_HOST -P$DB_PORT -N`
	if [ "$OPEN_FILES_LIMIT" -lt 20000 ];then
		MSG="$MSG\nplease set the following in my.cnf and restart the daemon:\nopen_files_limit = 20000 in my.cnf"
		RC=1
	fi
	LOWER_CASE_TABLE_NAMES=`echo "select @@lower_case_table_names;" | mysql -u$DB_USER -p$DB_PASSWD -h$DB_HOST -P$DB_PORT -N`
	if [ "$LOWER_CASE_TABLE_NAMES" -ne 1 ];then
		MSG="$MSG\nlower_case_table_names=1"
		RC=1
	fi
	#INNODB_LOG_FILE_SIZE=`echo "select @@innodb_log_file_size;" | mysql -u$DB_USER -p$DB_PASSWD -h$DB_HOST -P$DB_PORT -N`
	#if [ "$INNODB_LOG_FILE_SIZE" -lt "" ];then
	#	echo "innodb_log_file_size => 32M"
	#	return 1
	#fi
	MAX_ALLOWED_PACKET=`echo "select @@max_allowed_packet;" | mysql -u$DB_USER -p$DB_PASSWD -h$DB_HOST -P$DB_PORT -N`
	if [ "$MAX_ALLOWED_PACKET" -lt "16777216" ];then
		MSG="$MSG\nmax_allowed_packet = 16M"
		RC=1
	fi

	echo -en "$MSG\n"
	return $RC
	
}

check_connectivity()
{
	DB_USER=$1
	DB_PASSWD=$2
	DB_HOST=$3
	DB_PORT=$4
	SPHINX_SERVER=$5
	SERVICE_URL=$6
	RC=0
	MSG="Connectivity test passed:)"
	echo "select version();" | mysql -u$DB_USER -p$DB_PASSWD -h$DB_HOST -P$DB_PORT -N > /dev/null 2>&1
	if [ $? -ne 0 ];then
		MSG="Couldn't connect with mysql -u$DB_USER -p$DB_PASSWD -h$DB_HOST -P$DB_PORT."
		RC=1
	fi
	
	echo "show tables;" | mysql -h$SPHINX_SERVER -P9312  > /dev/null 2>&1
	if [ $? -ne 0 ];then
		MSG="$MSG\nCouldn't connect to Sphinx with mysql -h$SPHINX_SERVER -P9312."
		RC=1
	fi
	curl "$SERVICE_URL/api_v3/index.php?service=system&action=ping" -k  > /dev/null 2>&1
	if [ $? -ne 0 ];then
		MSG="$MSG\nCouldn't make an API request to $SERVICE_URL/api_v3/index.php?service=system&action=ping."
		RC=1
	fi

	echo -en "$MSG\n"
	return $RC
	
}

# ssl functions
check_cert_key()
{
	CRT_FILE=$1
	KEY_FILE=$2
	# check key and crt match
	CRT_SUM=`openssl x509 -in $CRT_FILE -modulus -noout | openssl md5`
	KEY_SUM=`openssl rsa -in $KEY_FILE -modulus -noout | openssl md5`
	if [ "$CRT_SUM" != "$KEY_SUM" ];then
		echo "

	MD5 sums between .key and .crt files DO NOT MATCH
	# openssl rsa -in $KEY_PATH -modulus -noout | openssl md5
	$KEY_HASH
	# openssl x509 -in $CERT_PATH -modulus -noout | openssl md5
	$CRT_HASH

	"
		return 1
	fi

}

is_self_signed()
{
	# check if cert is self signed:
	CRT_FILE=$1
	if openssl verify  $CRT_FILE | grep 'self signed certificate' -q ;then
		echo "

	WARNING: self signed cerificate detected. Will set settings.clientConfig.verifySSL=0 in $APP_DIR/configurations/admin.ini.


	"
		return 1
	fi
}

configure_apache_ssl()
{
	KALTURA_SSL_CONFFILE=$1
	if [ -f /etc/httpd/conf.d/ssl.conf ];then
		echo "Moving /etc/httpd/conf.d/ssl.conf to /etc/httpd/conf.d/ssl.conf.ks.bak."
		mv /etc/httpd/conf.d/ssl.conf /etc/httpd/conf.d/ssl.conf.ks.bak
	fi
	sed -i "s#@SSL_CERTIFICATE_FILE@#$CRT_FILE#g" $KALTURA_SSL_CONFFILE
	sed -i "s#@SSL_CERTIFICATE_KEY_FILE@#$KEY_FILE#g" $KALTURA_SSL_CONFFILE
	ln -fs $KALTURA_SSL_CONFFILE /etc/httpd/conf.d/  
}

send_post_inst_msg()
{
	MAILTO=$1
	mail -s "$POST_INST_MAIL_SUBJECT" -r "Kaltura Video Platform <kaltura@$KALTURA_VIRTUAL_HOST_NAME>" $MAILTO < $POST_INST_MAIL_TMPL 
	
}
send_install_becon()
{
	if ! check_if_upgrade;then
		return 0 
	fi
	trap - ERR
	#echo $USER_CONSENT
	if [ -r $CONSENT_FILE ];then
		. $CONSENT_FILE
	fi
	if [ -z "$USER_CONSENT" -o "$USER_CONSENT" = 0 ];then
		return 0 
	fi
	#echo sending becobeep
        ROLE=$1
        ACTION=$3
	TIMEZONE=$2
	ERR_LINE=$ACTION

	if [ -n $4 ];then
		ERR_LINE=$4
	fi
	#echo $ERR_LINE 
        ANALYTICS_SERVER_URI="http://54.204.228.203/report"
        RC_FILE=/etc/kaltura.d/system.ini
        if [ -r "$RC_FILE" ];then
        	. $RC_FILE
	fi
        BLKID=`blkid`
        MACHINE_ID=`echo -n $BLKID | md5sum|awk -F " " '{print $1}'`
        EPOCH=`date +%s`
        INSTALL_ID=`echo $BLKID : $EPOCH | md5sum|awk -F " " '{print $1}'`
	#set -x

	if  echo $SERVICE_URL | grep -q 'https://' ;then
		IS_SSL=true
	else
		IS_SSL=false
	fi
	curl -i -X POST -H 'Content-Type: application/json' -d '{"event_type": "'$ACTION'", "server_role": "'$ROLE'", "user_email": "'$CONTACT_MAIL'", "machine_id": "'$MACHINE_ID'", "installation_id": "'$INSTALL_ID'", "timestamp": "'$EPOCH'", "kernel_version": "'`uname -r`'", "machine_arch": "'`uname -m`'","linux_flavor":"'`head -1 /etc/issue|sed "s#\s#_#g"`'","is_ssl": "'$IS_SSL'", "service_url": "'$SERVICE_URL'","install_err_line": "'$ERR_LINE'","timezone": "'$TIMEZONE'","package_type":"rpm","kaltura_version": "'`rpm -qa kaltura-base --queryformat %{version}`'","package_revision": "'`rpm -qa kaltura-base --queryformat %{release}`'"}' $ANALYTICS_SERVER_URI &>/dev/null

	#set +x
	trap 'my_trap_handler ${LINENO} ${$?}' ERR
}

my_trap_handler()
{
        MYSELF=`basename "$0"`               # equals to my script name
        LASTLINE="$1"            # argument 1: last line of error occurence
        LASTERR="$2"             # argument 2: error code of last command
        RPM_VER=`rpm -q kaltura-postinst`
	if [ -d /opt/kaltura/log ];then
		TAR_PATH=/opt/kaltura/log/log_`date +%d_%m_%y_%H_%M`.tar.gz	
		echo "$FAIL_MSG


		"
		echo "Archving logs to $TAR_PATH..."
		mkdir -p /tmp/tmpdir_kaltura
		cp /opt/kaltura/log/*log /tmp/tmpdir_kaltura
		cd /tmp/tmpdir_kaltura
		tar zcf $TAR_PATH *log
	fi	
	if [ -r $CONSENT_FILE ];then
		. $CONSENT_FILE 
	fi
	
	#if [ "$USER_CONSENT" -eq 1 ];then
       		send_install_becon ${MYSELF} $ZONE install_fail "${LASTLINE},${RPM_VER}"
	#fi
        exit 11
}

validate_mail()
{
	regex="^[a-z0-9!#\$%&'*+/=?^_\`{|}~-]+(\.[a-z0-9!#$%&'*+/=?^_\`{|}~-]+)*@([a-z0-9]([a-z0-9-]*[a-z0-9])?\.)+[a-z0-9]([a-z0-9-]*[a-z0-9])?\$"
	MAIL_ADDR=$1
	if [[ $MAIL_ADDR =~ $regex ]] ; then
	    return 0
	else
	    return 1
	fi
}

get_tracking_consent()
{

	echo "$PRE_CONSENT 
	

[Email\NO]:"

	CONTACT_MAIL="mailhere"
	read -e CONTACT_MAIL
	while [ "$CONTACT_MAIL" != "NO" ];do
		if validate_mail "$CONTACT_MAIL";then
			echo "USER_CONSENT=1" >> $CONSENT_FILE
			echo "CONTACT_MAIL=$CONTACT_MAIL" >> $CONSENT_FILE
			return 0
		fi	
		echo "Please input a valid mail address or 'NO'"
		read -e CONTACT_MAIL
	done
	if [ "$CONTACT_MAIL" = "NO" ];then
		echo "USER_CONSENT=0" > $CONSENT_FILE
	fi
	. $CONSENT_FILE
}

check_if_upgrade()
{
	trap - ERR
	CUR_BASE_VERSION=`rpm -qa kaltura-base --queryformat %{version}-%{release}`
	LAST_BASE_VERSION=`cat $BASE_DIR/bin/last_base_ver 2> /dev/null`
	if [ $CUR_BASE_VERSION = "$LAST_BASE_VERSION" ];then
		return 1 
	fi
	return 0 
	trap 'my_trap_handler ${LINENO} ${$?}' ERR
}

write_last_base_version()
{
	CUR_BASE_VERSION=`rpm -qa kaltura-base --queryformat %{version}-%{release}`
	echo "$CUR_BASE_VERSION" > $BASE_DIR/bin/last_base_ver
}
