Source: kaltura-sphinx
Section: misc
Priority: extra
Maintainer: Jess Portnoy <jess.portnoy@kaltura.com>

Package: kaltura-sphinx
Architecture: amd64
Build-Depends: debhelper (>= 7.0.50), autotools-dev, gawk, libmysqlclient-dev, libpq-dev, autoconf, libtool, automake, docbook-to-man, libexpat-dev, libstemmer-dev, dh-autoreconf, adduser 
Depends: ${shlibs:Depends},libmysqlclient18,libmysqlclient-dev
Description: Sphinx full-text search server - for Kaltura
 Sphinx is a full-text search server that adds many advanced features
 on top of plain old text searching. Data can be fetched directly from
 a database, or streamed in XML format. MySQL, PostgreSQL, SQL Server,
 Oracle, and other databases are supported. Client programs can query
 Sphinx either using native SphinxAPI library, or using regular MySQL
 client programs and libraries via SQL-like SphinxQL interface.
 .
