Package: kaltura-php7-tidy
Source: kaltura-php7
Version: 7.0.0-6
Architecture: amd64
Maintainer: Jess Portnoy <jess.portnoy@kaltura.com>
Installed-Size: 117
Pre-Depends: dpkg (>= 1.16.1~)
Depends: libc6 (>= 2.14), libtidy-0.99-0, phpapi-20151012, kaltura-php7-common (= 7.0.0-6), ucf
Section: php
Priority: optional
Homepage: http://www.php.net/
Description: tidy module for kaltura-php7
 This package provides a module for tidy functions in PHP scripts.
 .
 Tidy is an extension based on Libtidy (http://tidy.sf.net/) and allows
 a PHP developer to clean, repair, and traverse HTML, XHTML, and XML
 documents -- including ones with embedded scripting languages such as PHP
 or ASP within them using OO constructs.
 .
 PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used
 open source general-purpose scripting language that is especially suited
 for web development and can be embedded into HTML.
